<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wm.remusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NetSearchWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.wm.remusic.LAUNCH_NOW_PLAYING_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LocalSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaylistManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlbumsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DownActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PlaylistActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.RecentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NetItemChangeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ArtistDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.RadioDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:taskAffinity="com.package.name.lockscreen"
            android:theme="@style/LockScreenTheme"/>
        <activity android:name=".activity.RankPlaylistActivity"/>
        <activity android:name=".request.UiMonitorActivity"/>

        <service android:name=".downmusic.DownService">
            <intent-filter>
                <action android:name="com.wm.remusic.downtaskadd"/>
                <action android:name="com.wm.remusic.resumestarttask"/>
                <action android:name="com.wm.remusic.startalltask"/>
                <action android:name="com.wm.remusic.multidowntaskadd"/>
                <action android:name="com.wm.remusic.pausetask"/>
                <action android:name="com.wm.remusic.pausealltask"/>
                <action android:name="com.wm.remusic.cacletask"/>
                <action android:name="com.wm.remusic.caclealltask"/>
            </intent-filter>

        </service>
        <service
            android:name=".service.MediaService"
            android:process=":main" />

        <receiver android:name=".receiver.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.LaunchNowPlayingReceiver">
            <intent-filter>
                <action android:name="com.wm.remusic.LAUNCH_NOW_PLAYING_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.SimpleWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wm.remusic.metachanged"/>
                <action android:name="com.wm.remusi.change_music"/>
                <action android:name="com.wm.remusic.progress"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:name=".activity.SplashActivity" android:label="@string/app_name" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout">


        -<intent-filter>

        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

    </intent-filter>

    </activity>

        <!-- 有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider-->
        <!-- 这里主要为授予有米SDK拥有打开apk安装界面的功能-->
        <!-- 请务必修改 android:authorities 为贵应用的标识，一般为 包名.fileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wm.remusic.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider >

    </application>

</manifest>
